@model IEnumerable<ASPTuristicheskaAgencia.Data.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Клиент
                @*  @Html.DisplayNameFor(model => model.Clients)  *@
            </th>
            <th>
                Оферта
              @*   @Html.DisplayNameFor(model => model.Offers) *@
            </th>
            <th>
                Статус
                @* @Html.DisplayNameFor(model => model.Status) *@
            </th>
            <th>
                Дата на резервация
               @*  @Html.DisplayNameFor(model => model.ReservationDate) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                @(item.Clients.UserName +" "+ item.Clients.LastName) 
            </td>
            <td>
                
                 @Html.DisplayFor(modelItem => item.Offers.Name) 
            </td>
            <td>
                
                 @Html.DisplayFor(modelItem => item.Status) 
            </td>
             <td>
                
                @Html.DisplayFor(modelItem => item.ReservationDate) 
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
